<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Unos shopping application is a project designed to help customers with their shopping needs. This
  is the sample application for the Unos interface.
</p>
